#m2 {
    background-color: lightblue;
}
#m1{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    background-color: aliceblue;

}
#s1{
color: rgb(7, 7, 7);
font-family: 'Truculenta', sans-serif;
}
#s2{
    font-size: 30px;
}
#s3{
    color: rgb(7, 7, 7);
font-family: 'Truculenta', sans-serif;
}
#s4{
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
}
body{
    background-color: darkcyan;
}

#main-navbar{
    background-color: antiquewhite;
    font-size: 20px;
    overflow: hidden;
}
#navbar-container{
    float: left;
    width:100%;
    position: left;
}
#navbar-container ul{
    list-style-type: none;
    margin:0;
    padding:0;
    position:left;
    left:50%;
    float: left;
}
#navbar-container ul li{
    float:left;
    position:left;
    right:50%;
    display:block;
}
#navbar-container ul li a{
    display:block;
    padding:20px 50px;
    color: rgb(18, 34, 177);
    text-decoration: none;
}
#navbar-container  li :hover{
    background-color:rgb(170, 160, 68);
}
#onpage{
    text-decoration: underline overline;
}